<div class='login-form'>
<%= form_with url: sessions_url do |form| %>

    <h3> Log In </h3>

    <%= form.label :username %>
    <%= form.text_field :username, required: true %>

    <%= form.label :password %>
    <%= form.password_field :password, required: true %>

    <%= form.submit %>

<% end %>
</div>