<%= form_with url: sessions_url do |form| %>
    <h3>Log In </h3>

    <div>
        <%= form.label :username %><br>
        <%= form.text_field :username %>
    </div>

    <div>
        <%= form.label :password %><br>
        <%= form.text_field :password %>
    </div>

    <div>
    <%= form.submit %>
    </div>
<% end %>