<div class='login-form'>
<%= form_with url: sessions_url do |form| %>

    <h3> Log In </h3>

    <%= form.label :username, "username" %>
    <%= form.text_field :username, required: true %>

    <%= form.label :password, "password" %>
    <%= form.password_field :password, required: true %>

    <%= form.submit "Log In" %>

<% end %>
</div>