
<%= form_with url: sessions_url do |form| %>
<div class="login-form">
    <div>
        <%= form.label :username %>
        <%= form.text_field :username, required: true %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true %>
    </div>

    <div>
    <%= form.submit %>
    </div>
</div>
<% end %>