<div class='comment'>
    <div class='comment-wrapper'>
        <%= render 'comment_votes/ajax_comment_votes', :comment => comment %>
        <%# render 'comment_votes/comment_votes', :comment => comment %>

        <div class='comment-content'>
            <%= render 'comments/content', :comment => comment %>
            <%= render 'comments/links', :comment => comment %>
        </div>
    </div>

    <%= render 'comments/form', :@comment => comment %>
    <%= render 'comments/reply', :@comment => comment %>

    <% comment.comment.each do |commentreply| %>
        <div class='reply'>
            <% if comment.id == commentreply.parent_id %>
                <%= render 'comments/comment', :comment => commentreply %>
            <% end %>
        </div>
    <% end %>
</div>