<div class="comment-form">
<% if @comment %>
    <%= form_for @comment do |form| %>
        <div class="comment-form">
            <div>
                <%= form.hidden_field :post_id, :value => @post.id %>
                <%= form.label :body %> <br>
                <%= form.text_area :body, placeholder: "What are your thoughts ?", required: true, :value => @comment.body  %>
            </div>

            <div>
            <%= form.submit %>
            </div>
        </div>
    <% end %>
<% else %>
    <%= form_with url: comments_url do |form| %>
        <div class="comment-form">
            <div>
                <%= form.hidden_field :post_id, :value => @post.id %>
                <%= form.label :body %> <br>
                <%= form.text_area :body, placeholder: "What are your thoughts ?", required: true %>
            </div>

            <div>
            <%= form.submit %>
            </div>
        </div>
    <% end %>
<% end %>
</div>