<%= form_with url: registrations_url do |form| %>
<div class="register-form">
    <h3>Register </h3>

    <div>
        <%= form.label :username %><br>
        <%= form.text_field :username, required: true %>
    </div>

    <div>
        <%= form.label :password %><br>
        <%= form.password_field :password, required: true %>
    </div>

    <div>
        <%= form.label :password_confirmation %><br>
        <%= form.password_field :password_confirmation, required: true %>
    </div>

    <div>
        <%= form.submit %>
    </div>
</div>

<% end %>