<div class='register-form'>
<%= form_with url: registrations_url do |form| %>

    <h3>Register </h3>

    <%= form.label :username %>
    <%= form.text_field :username, required: true %>



    <%= form.label :password %>
    <%= form.password_field :password, required: true %>



    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>

    <%= form.submit %>

<% end %>
</div>