
<div class='header'>
    <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>

    <div class='nav'>
        <div class='nav-top'>
        <% if !session[:user_id] %>
            <label class='register-label'>
                want to join? <a href="#" class="register-btn">register</a> in seconds
            </label>

            <label class='login-label hidden'>
                already have an account? <a href="#" class="register-btn">login</a> in seconds
            </label>
        <% else %>
            share your favorite links
        <% end %>
        </div>

        <div class='nav-bottom'>
            <div class="sort-links">

                <% if $sort_type == "new" %>
                    <%= link_to "top", sort_path(sort_type:"top") %>
                    <%= link_to "new", sort_path(sort_type:"new"), class: "active" %>
                    <%= link_to "hot", sort_path(sort_type:"hot") %>
                <% elsif $sort_type == "hot" %>
                    <%= link_to "top", sort_path(sort_type:"top") %>
                    <%= link_to "new", sort_path(sort_type:"new") %>
                    <%= link_to "hot", sort_path(sort_type:"hot"), class: "active" %>
                <% else %>
                    <%= link_to "top", sort_path(sort_type:"top"), class: "active" %>
                    <%= link_to "new", sort_path(sort_type:"new") %>
                    <%= link_to "hot", sort_path(sort_type:"hot") %>
                <% end %>
            </div>

            <div class='search'>
                <%= form_with url: search_url do |form| %>
                    <%= form.text_field :search_text, required: true  %>
                    <%= form.submit "search" %>
                <% end %>
            </div>
        </div>
    </div>
</div>