
<div class='header'>
    <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>

    <div class='nav'>
        <div class='nav-top'>
        <% if !session[:user_id] %>
            want to join? register in seconds
        <% else %>
            share your favorite links
        <% end %>
        </div>

        <div class='nav-bottom'>
            <div class="sort-links">
                <%= link_to "top", sort_path(sort_type:"top") %>
                <%= link_to "new", sort_path(sort_type:"new") %>
                <%= link_to "hot", sort_path(sort_type:"hot") %>
            </div>
            <div class='search'>
                <%= form_with url: search_url do |form| %>
                    <%= form.text_field :search_text, required: true  %>
                    <%= form.submit "search" %>
                <% end %>
            </div>
        </div>
    </div>
</div>