
<h1> Micro Reddit </h1>

<div class='logged'>

    <%= @current_user?  @current_user.id : "" %>
    <%= @current_user? " hello " + @current_user.username : "Not logged in" %>

    <% if @current_user %>
        <%= link_to "Log Out", logout_path, method: :delete %>

    <% else %>
        <%= render 'registrations/form' %>
        <%= render 'sessions/form' %>
    <% end %>
</div>

<%= render 'posts/show' %>