<div class='posts'>

    <% sorted_list = @posts %>
    <% # newest at top sorting: %>
    <% # sorted_list = @posts.sort{|a,b| b.updated_at <=> a.updated_at} %>

    <% # most points sorting: %>
    <% sorted_list = @posts.sort{|a,b| b.vote.sum(&:value) <=> a.vote.sum(&:value)} %>

    <% sorted_list.each do |post| %>
        <div class='list-post'>

            <%= render 'votes/votes', :post => post  %>

            <a href="<%= post.url %>" target=”_blank”>
            <%= post.title %>
            </a>
            (<%= URI.parse(post.url).host %>) <br>

            <% total_points = post.vote.sum(&:value) %>

            <% if total_points > 0 %>
                <%= total_points %> points
            <% end %>

            posted
            <%= time_ago_in_words(post.created_at) %>
            ago by:
            <%= post.user.username.capitalize %>
            <%= link_to "Comments", post %>
        </div>
    <% end %>
</div>