
<div class="post-form">

<% if @post && @post.user_id == session[:user_id].to_i %>

    <h3> Edit Post </h3>

    <%= form_for @post do |form|%>

        <%= form.label :title %>
        <%= form.text_field :title, required: true, value:@post.title %>

        <%= form.label :url %>
        <%= form.text_field :url, required: true, value:@post.url %>

        <%= form.submit "Edit Post" %>

    <% end %>

<% elsif @post %>

    <% puts "User did not write this post" %>

<% else %>

    <h3> New Post </h3>

    <%= form_with url: posts_url do |form| %>

        <%= form.label :title %>
        <%= form.text_field :title, required: true %>

        <%= form.label :url %>
        <%= form.text_field :url, required: true  %>

        <%= form.submit %>

    <% end %>

<% end %>

</div>