
<%= render 'votes/votes', :post => post  %>

<div class='post'>
    <div class='top-line'>
        <a href="<%= post.url %>" target=”_blank”>
        <%= post.title %>
        </a>
        (<%= URI.parse(post.url).host %>)
    </div>

    <div class='bottom-line'>
        <% total_points = post.votes.sum(&:value) %>

        <% if total_points == 1 || total_points == -1 %>
            <%= total_points %> point
        <% else %>
            <%= total_points %> points
        <% end %>

        posted
        <%= time_ago_in_words(post.created_at) %>
        ago by

        <% name = post.user.username.capitalize %>

        <%= link_to name, user_path(post, :author_id => post.user.id) %>

        <% c_label = post.comments.count.to_s + " Comments"  %>

        <%= link_to c_label, post, :class => "comments" %>
    </div>
</div>