

<div class='post-view'>
    <%= render 'static/header', :post => @post  %>


    <div class='post-view-container'>

        <div class='post-view-content'>
            <div class='list-post'>
                <%= render 'posts/post', :post => @post  %>
            </div>

            <ul class='post-view-buttons'>
                <% if session[:user_id].to_i == @post.user.id.to_i %>
                    <li> <%# link_to "Edit", edit_post_path(@post) %> </li>
                    <li> <%= link_to "Destroy", post_path(@post),
                                method: :delete,
                                data: { confirm: "Are you sure?" }
                    %> </li>
                <% end %>
            </ul>

            <%= render 'comments/all_comments', :post => @post %>
        </div>

        <%= render 'static/sidebar', :post => @post  %>
    </div>
</div>