
<div class='votes'>

    <% v = Vote.find_by(post_id: post.id, user_id: session[:user_id]) %>

    <% upvote_value = v ? v.value : ""  %>

    <% if upvote_value == 1 %>
        <div class='upvote' data-post=<%= post.id %> > <%= image_tag("arrow_orange.png") %> </div>
    <% else %>
        <div class='upvote' data-post=<%= post.id %> > <%= image_tag("arrow.png") %> </div>
    <% end%>


    <% if upvote_value == -1 %>
        <div class='downvote' data-post=<%= post.id %> > <%= image_tag("arrow_orange.png") %> </div>
    <% else %>
        <div class='downvote' data-post=<%= post.id %> > <%= image_tag("arrow.png") %> </div>
    <% end %>

</div>