<!DOCTYPE html>
<html>
  <head>
    <title>MicroReddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>


    <meta property="og:title" content="Micro Reddit" />
    <meta name="author" content="Michael Paguay">
    <meta property="og:url" content="http://microreddit.herokuapp.com" />
    <meta name="image" property="og:image" content="https://i.imgur.com/eXclesR.png">
    <meta name="description" property='og:description' content='Did you love the old Reddit design ? I brought it back to life!'/>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
